<div class="modal-header justify-content-center" style="border-bottom: none!important;">
    <h2  class="modal-title titulo" id="exampleModalLabel">¿Cómo jugar?</h2>
</div>
<div class="modal-body text-center">
    <p id="texto">En la parte central del juego verás una ficha roja. Cuando llegue tu turno de jugar deberás:</p>
    <ol >
        <li  class="d-flex justify-content-left">
           <p id="texto">1. Realizar la actividad asignada.</p>
        </li>
        <li  class="d-flex justify-content-left" style="list-style:decimal;">
            <p id="texto">2. Responder la pregunta.</p>
        </li>
    </ol>
    <p id="texto">Si respondes  de manera correcta, la ficha roja se moverá hacia tu contrincante.</p>
    <div class="modal-header justify-content-center" style="border-bottom: none!important;">
        <h2  class="modal-title titulo" id="exampleModalLabel">¿Cómo ganar?</h2>
    </div>
    <p id="texto" >Quien logré que la ficha llegue primero al otro lado ¡Será el ganador!</p>
</div>
<div class="modal-footer justify-content-center">
    <img id="img-footer1" src="../../../assets/recursos/aquien.png" alt="futbol">
    <img id="img-footer2" src="../../../assets/recursos/porque.png" alt="ulaula">
</div>
<div class="modal-footer justify-content-center" style="border-top: none!important;">
    <button id="texto" type="button" class="btn btn-primary" (click)="cerrar()">Entendido!</button>
</div>
