<div
  class="container-expand d-flex justify-content-center flex-column"
  style="
    background-image: url(../../../assets/recursos/fondo4.png);
    min-height: 800px;
    padding: 2rem 5rem;
    background-size: contain;
  "
  >
  <h1>Crear cuenta</h1>
  <div class="row d-flex justify-content-center flex-column align-items-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-9 text-center">
      <div class="px-0 pt-4 pb-0 mt-3 mb-3"> 
        
          <mat-stepper linear labelPosition="bottom" #stepper>
            <mat-step [optional]="isOptional" [stepControl]="stepOne" [completed]="false">
              
              <fieldset>
                <h2>Información base</h2>
                <form class="row gx-4 gy-3 d-flex justify-content-evenly" [formGroup]="stepOne">
                  <ng-template matStepLabel>
                    <p>Información personal</p>
                  </ng-template>
                    <div class="col-md-4">
                    <label>Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Andres Gallego"
                      formControlName="nombre"
                      [ngClass]="{ 'is-invalid': stepOne.controls['nombre'].invalid && (stepOne.controls['nombre'].dirty || stepOne.controls['nombre'].touched),
                      'is-valid': stepOne.controls['nombre'].valid && (stepOne.controls['nombre'].dirty || stepOne.controls['nombre'].touched)}"
                    />

                    <div *ngIf="stepOne.controls['nombre'].invalid && (stepOne.controls['nombre'].dirty || stepOne.controls['nombre'].touched)" class="invalid-feedback">
                    <div *ngIf="stepOne.controls['nombre'].hasError('required')">
                      * Este campo es obligatorio
                    </div> 
                  </div>

                  </div>
                  
                  <div class="col-md-4">
                    <label>Contraseña</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Contraseña"
                      formControlName="password"
                      [ngClass]="{ 'is-invalid': stepOne.controls['password'].invalid && (stepOne.controls['password'].dirty || stepOne.controls['password'].touched),
                      'is-valid': stepOne.controls['password'].valid && (stepOne.controls['password'].dirty || stepOne.controls['password'].touched)}"
                    />

                    <div *ngIf="stepOne.controls['password'].invalid && (stepOne.controls['password'].dirty || stepOne.controls['password'].touched)" class="invalid-feedback">
                    <div *ngIf="stepOne.controls['password'].hasError('required')">
                      * Este campo es obligatorio
                    </div> 
                    </div>
                  </div>
                    
                  <div class="col-md-4">
                    <label>Correo Electronico</label>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="email"
                      placeholder="andres@gmail.com"
                      [ngClass]="{ 'is-invalid': stepOne.controls['email'].invalid && (stepOne.controls['email'].dirty || stepOne.controls['email'].touched),'is-valid': stepOne.controls['email'].valid && (stepOne.controls['email'].dirty || stepOne.controls['email'].touched)}"
                    />

                    <div *ngIf="stepOne.controls['email'].invalid && (stepOne.controls['email'].dirty || stepOne.controls['email'].touched)" class="invalid-feedback">
                      <div *ngIf="stepOne.controls['email'].hasError('required')">
                        * Este campo es obligatorio
                      </div> 
                    </div>
                  </div>


                  <div class="col-md-6">
                    <label>fecha nacimiento</label>
                    <input
                      type="date"
                      class="form-control"
                      placeholder="DD/MM/AAAA"
                      formControlName="fechanacimiento"
                      [ngClass]="{ 'is-invalid': stepOne.controls['fechanacimiento'].invalid && (stepOne.controls['fechanacimiento'].dirty || stepOne.controls['fechanacimiento'].touched),
                      'is-valid': stepOne.controls['fechanacimiento'].valid && (stepOne.controls['fechanacimiento'].dirty || stepOne.controls['fechanacimiento'].touched)}"
                    />

                    <div *ngIf="stepOne.controls['fechanacimiento'].invalid && (stepOne.controls['fechanacimiento'].dirty || stepOne.controls['fechanacimiento'].touched)" class="invalid-feedback">
                    <div *ngIf="stepOne.controls['fechanacimiento'].hasError('required')">
                      * Este campo es obligatorio
                    </div> 
                  </div>

                  </div>
                  
                  <div class="col-md-6">
                    <label>genero</label>
                    <select class="form-select" id="specificSizeSelect" formControlName="genero"
                    [ngClass]="{ 'is-invalid': stepOne.controls['genero'].invalid && (stepOne.controls['genero'].dirty || stepOne.controls['genero'].touched),'is-valid': stepOne.controls['genero'].valid && (stepOne.controls['genero'].dirty || stepOne.controls['genero'].touched)}" 
                     >
                      <option value="" selected>Escoge</option>
                      <option value="Masculino">Masculino</option>
                      <option value="Femenino">Femenino</option>
                    </select>

                    <div *ngIf="stepOne.controls['genero'].invalid && (stepOne.controls['genero'].dirty || stepOne.controls['genero'].touched)" class="invalid-feedback">
                      <div *ngIf="stepOne.controls['genero'].hasError('required')">
                        * Este campo es obligatorio
                      </div> 
                    </div>

                  </div>
                  <div class="col-sm-12" style="text-align: end;">
                    <button type="button" class="btn btn-primary" matStepperNext>
                      Siguiente
                    </button>
                  </div>
                </form>
              </fieldset>
              
            </mat-step>
          
          
          
          
          <mat-step [optional]="isOptional" [stepControl]="stepTwo" [completed]="false">
          
            <fieldset>
              <h2>Información médica</h2>
              <form class="row gx-6 gy-5 d-flex justify-content-evenly" [formGroup]="stepTwo">
                <ng-template matStepLabel>
                  <p>Información médica</p>
                </ng-template>

               
                <div class="col-md-6">
                  <label>Estatura(cm)</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="180"
                    formControlName="estatura"
                    [ngClass]="{ 'is-invalid': stepTwo.controls['estatura'].invalid && (stepTwo.controls['estatura'].dirty || stepTwo.controls['estatura'].touched),
                      'is-valid': stepTwo.controls['estatura'].valid && (stepTwo.controls['estatura'].dirty || stepTwo.controls['estatura'].touched)}"
                  />

                  <div *ngIf="stepTwo.controls['estatura'].invalid && (stepTwo.controls['estatura'].dirty || stepTwo.controls['estatura'].touched)" class="invalid-feedback">
                    <div *ngIf="stepTwo.controls['estatura'].hasError('required')">
                      * Este campo es obligatorio
                    </div> 
                  </div>

                </div>
                <div class="col-md-6">
                  <label>Peso (kg) </label>
                  <select class="form-select" id="specificSizeSelect" formControlName="peso"
                  [ngClass]="{ 'is-invalid': stepTwo.controls['peso'].invalid && (stepTwo.controls['peso'].dirty || stepTwo.controls['peso'].touched),
                  'is-valid': stepTwo.controls['peso'].valid && (stepTwo.controls['peso'].dirty || stepTwo.controls['peso'].touched)}">
                    <option value="" selected>Escoge</option>
                    <option value="50">50 kg</option>
                    <option value="60">60 kg</option>
                    <option value="70">70 kg</option>
                    <option value="80">80 kg</option>
                  </select>

                  <div *ngIf="stepTwo.controls['peso'].invalid && (stepTwo.controls['peso'].dirty || stepTwo.controls['peso'].touched)" class="invalid-feedback">
                    <div *ngIf="stepTwo.controls['peso'].hasError('required')">
                      * Este campo es obligatorio
                    </div> 
                  </div>

                </div>
                <h2>Comorbilidades</h2>
                <div class="col-lg-4">
                  
                  <div ><label>¿Presenta en enfermedades cardiacas?</label></div>
                  <div class="d-flex justify-content-around align-items-center">
                    <div class="form-check">
                      <input (click)="click('enfcardiaca', true)" name="inlineCheckbox1" class="form-check-input" type="radio" id="inlineCheckbox1" value="si" 
                      >
                      <label class="form-check-label" for="inlineCheckbox1">Si</label>
                    </div>
                    <div class="form-check">
                      <input (click)="click('enfcardiaca', false)" name="inlineCheckbox1" class="form-check-input" type="radio" id="inlineCheckbox2" value="no" checked
                        >
                      <label for="inlineCheckbox2" class="form-check-label">No</label>
                    </div>
                    <input type="text" formControlName="enfcardiaca" class="form-control" placeholder="Cuales" style="width: 50%;"/>
                  </div>
                 
                </div>

                <div  class="col-lg-4">
                    <div><label>¿Presenta en enfermedades Respiratorias?</label></div>
                    <div class="d-flex justify-content-around align-items-center">
                    <div class="form-check">
                      <input (click)="click('enfrespiratorias', true)"  name="inlineCheckbox2" class="form-check-input" type="radio" id="inlineCheckbox3" value="si">
                      <label  for="inlineCheckbox3" class="form-check-label">Si</label>
                    </div>
                    <div class="form-check">
                      <input (click)="click('enfrespiratorias', false)"  name="inlineCheckbox2" class="form-check-input" type="radio" id="inlineCheckbox4" value="no" checked
                        >
                      <label for="inlineCheckbox4" class="form-check-label" >No</label>
                    </div>
                    <input type="text" formControlName="enfrespiratorias" class="form-control" placeholder="Cuales" style="width: 50%;"/>
                  </div>
                  </div>
                  <div class="col-lg-4">
                    <div><label>¿Has tenido alguna cirugía?</label></div>
                    <div class="d-flex justify-content-around align-items-center">
                    <div class="form-check">
                      <input (click)="click('cirugia', true)"  name="inlineCheckbox3" class="form-check-input" type="radio" id="inlineCheckbox5" value="si" >
                      <label class="form-check-label" for="inlineCheckbox5">Si</label>
                    </div>
                    <div class="form-check">
                      <input (click)="click('cirugia', false)" name="inlineCheckbox3" class="form-check-input" type="radio" id="inlineCheckbox6" value="no" checked
                        >
                      <label class="form-check-label" for="inlineCheckbox6">No</label>
                    </div>
                    <input type="text" formControlName="cirugia" class="form-control" placeholder="Cuales" style="width: 50%;"/>
                  </div>
                  </div>
                  <div class="col-lg-4">
                    <div><label>¿Tienes alguna alergia?</label></div>
                    <div class="d-flex justify-content-around align-items-center">
                    <div class="form-check">
                      <input (click)="click('alergia', true)"  name="inlineCheckbox4" class="form-check-input" type="radio" id="inlineCheckbox7" value="si">
                      <label class="form-check-label" for="inlineCheckbox7">Si</label>
                    </div>
                    <div class="form-check">
                      <input (click)="click('alergia', false)"  name="inlineCheckbox4" class="form-check-input" type="radio" id="inlineCheckbox8" value="no" checked>
                      <label class="form-check-label" for="inlineCheckbox8">No</label>
                    </div>
                    <input type="text" formControlName="alergia" class="form-control" placeholder="Cuales" style="width: 50%;"/>
                  </div>
                  </div>
                  <div class="col-lg-4">
                    <div><label>¿Tienes enfermedades degenerativas?</label></div>
                    <div class="d-flex justify-content-around align-items-center">
                    <div class="form-check">
                      <input (click)="click('enfdegenerativa', true)" name="degenerativas" class="form-check-input" type="radio" id="inlineCheckbox9" value="si">
                      <label class="form-check-label" for="inlineCheckbox9">Si</label>
                    </div>
                    <div class="form-check">
                      <input (click)="click('enfdegenerativa', false)"  name="degenerativas" class="form-check-input" type="radio" id="inlineCheckbox10" value="no" checked>
                      <label class="form-check-label" for="inlineCheckbox10">No</label>
                    </div>
                    <input type="text" formControlName="enfdegenerativa" class="form-control" placeholder="Cuales" style="width: 50%;"/>
                  </div>
                  </div>
              <div class="d-flex">
                <div
                  class="col-sm-6"
                  style="text-align: start; margin-top: 20px"
                >
                  <button type="button" class="btn btn-primary"  matStepperPrevious>
                    Anterior
                  </button>
                </div>
                <div class="col-sm-6" style="text-align: end; margin-top: 20px">
                  <button  type="button" class="float-right btn btn-primary" matStepperNext>
                    Siguiente
                  </button>
                </div>
            </div>
            </form>
            </fieldset>
          </mat-step>

          <mat-step [optional]="isOptional" [stepControl]="stepThree" [completed]="false">
          
            <fieldset>
              <h2>Deportes</h2>
                <form class="row gx-6 gy-5 d-flex justify-content-evenly"  [formGroup]="stepThree">
                  <ng-template matStepLabel>
                    <p>Gustos personales</p>
                  </ng-template>
                    
                    <div class="col-md-4">
                        <div><label>¿Te gusta el fútbol?</label></div>
                        <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check">
                          <input name="futbol" class="form-check-input" type="radio" id="inlineCheckbox13" value="si" formControlName="futbol">
                          <label class="form-check-label" for="inlineCheckbox13">Si</label>
                        </div>
                        <div class="form-check">
                          <input name="futbol" class="form-check-input" type="radio" id="inlineCheckbox14" value="no" formControlName="futbol" checked>
                          <label class="form-check-label" for="inlineCheckbox14">No</label>
                        </div>
                      </div>
                      </div>
                      <div class="col-md-4">
                        <div><label>¿Te gusta el baloncesto?</label></div>
                        <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check">
                          <input name="basket" class="form-check-input" type="radio" id="inlineCheckbox15" value="si" formControlName="basket">
                          <label class="form-check-label" for="inlineCheckbox15">Si</label>
                        </div>
                        <div class="form-check">
                          <input  name="basket" class="form-check-input" type="radio" id="inlineCheckbox16" value="no" formControlName="basket" checked>
                          <label class="form-check-label" for="inlineCheckbox16">No</label>
                        </div>
                      </div>
                      </div>
                      <div class="col-md-4">
                        <div><label>¿Te gusta el Voleibol?</label></div>
                        <div class="d-flex justify-content-around align-items-center">
                        <div class="form-check">
                          <input  name="voley" class="form-check-input" type="radio" id="inlineCheckbox17" value="si" formControlName="voley">
                          <label class="form-check-label" for="inlineCheckbox17">Si</label>
                        </div>
                        <div class="form-check">
                          <input  name="voley" class="form-check-input" type="radio" id="inlineCheckbox18" value="no" formControlName="voley" checked> 
                          <label class="form-check-label" for="inlineCheckbox18">No</label>
                        </div>
                      </div>
                      </div>
                      <h2>Baile</h2>
                      <div class="col-md-4">
                          <div><label>¿Te gusta bailar salsa?</label></div>
                          <div class="d-flex justify-content-around align-items-center">
                          <div class="form-check">
                            <input  name="salsa" class="form-check-input" type="radio" id="inlineCheckbox19" value="si" formControlName="salsa">
                            <label class="form-check-label" for="inlineCheckbox19">Si</label>
                          </div>
                          <div class="form-check">
                            <input  name="salsa" class="form-check-input" type="radio" id="inlineCheckbox20" value="no" formControlName="salsa" checked>
                            <label class="form-check-label" for="inlineCheckbox20">No</label>
                          </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                          <div><label>¿Te gusta bailar zumba?</label></div>
                          <div class="d-flex justify-content-around align-items-center">
                          <div class="form-check">
                            <input  name="zumba" class="form-check-input" type="radio" id="inlineCheckbox21" value="si" formControlName="zumba">
                            <label class="form-check-label" for="inlineCheckbox21">Si</label>
                          </div>
                          <div class="form-check">
                            <input  name="zumba" class="form-check-input" type="radio" id="inlineCheckbox22" value="no" formControlName="zumba" checked>
                            <label class="form-check-label" for="inlineCheckbox22">No</label>
                          </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                          <div><label>¿Te gusta bailar folklor?</label></div>
                          <div class="d-flex justify-content-around align-items-center">
                          <div class="form-check">
                            <input  name="folklor" class="form-check-input" type="radio" id="inlineCheckbox23" value="si" formControlName="folklor" >
                            <label class="form-check-label" for="inlineCheckbox23">Si</label>
                          </div>
                          <div class="form-check">
                            <input  name="folklor" class="form-check-input" type="radio" id="inlineCheckbox24" value="no" formControlName="folklor" checked>
                            <label class="form-check-label" for="inlineCheckbox24">No</label>
                          </div>
                        </div>
                        </div>
                  <div class="d-flex">
                    <div
                      class="col-sm-6"
                      style="text-align: start; margin-top: 20px"
                    >
                      <button type="button" class="btn btn-primary"  matStepperPrevious>
                        Anterior
                      </button>
                    </div>
                    <div class="col-sm-6" style="text-align: end; margin-top: 20px">
                        <button (click)="registrar()"  type="button" class="float-right btn btn-primary">
                            Terminar
                          </button>
                    </div>
                </div>
                </form>
            </fieldset>          
        </mat-step>
        </mat-stepper> 
      
      </div>
    </div>
  </div>
  </div>

<ng-template #modaaa let-modal>
  <div style="display: flex; align-items: center; flex-direction: column;">
    <img *ngIf="!error" src="../../../assets/recursos/Check.png" style="width: 25%; z-index:1;">
    <img *ngIf="error" src="../../../assets/recursos/error.png" style="width: 25%; z-index:1;">

    <div class="modal-header" style="border-bottom: none!important;">
      <h2 *ngIf="!error" class="modal-title" >Cuenta fue creada con éxito</h2>
      <h2 *ngIf="error" class="modal-title">Ha ocurrido un error!</h2>
    </div>
    <div class="modal-body">
        <p *ngIf="!error">Ahora puedes disfrutar de la plataforma y aprender jugando</p>
        <p *ngIf="error" class="text-danger">{{errorMessage}}</p>
    </div>
    <div class="modal-footer" style="border-top: none!important;">
      <button *ngIf="!error" type="button" routerLink="/login" class="btn btn-primary" (click)="cerrar()">Entendido</button>
      <button *ngIf="error" type="button" class="btn btn-primary" (click)="cerrar()">Entendido</button>
    </div>
  </div>
</ng-template>