<div class="modal-header justify-content-center" style="border-bottom: none!important;">
    <h2  class="modal-title titulo" id="exampleModalLabel">El juego ha terminado, Felicitaciones!</h2>
</div>
<div class="modal-body text-center">
    <p *ngIf="ganador !== undefined" id="texto">Ha ganado el jugador,  <strong>{{ganador}}</strong> </p>
    <p *ngIf="ganador !== undefined" id="texto"><strong>Puntos: {{puntos}}</strong> </p>
</div>
<div class="modal-footer justify-content-center">
    <img id="img-footer1" src="../../../assets/recursos/aquien.png" alt="futbol">
    <img id="img-footer2" src="../../../assets/recursos/porque.png" alt="ulaula">
</div>
<div class="modal-footer justify-content-center" style="border-top: none!important;">
    <button [routerLink]="['/']"  id="texto" type="button" class="btn btn-primary" (click)="cerrar()">Entendido!</button>
</div>
