footer {
  padding: 11.413px 64.6739px;
  background: #01255b;
  height: 131.83px;
  left: calc(50% - 1366px/2);
  color: white;
  font-size: 20px;
}

i {
  color: white;
  font-size: 35px;
  margin-left: 20px;
}

#logo {
  width: 60px;
}

.my-4 {
   margin-bottom: 0!important; 
}
