<div class="container-fluid">
    
    <div class="main-title">
        <h1 >Perfil</h1>
    </div>
    

    <div class="row justify-content-center titulo-seccion">
        <div class="col">
            <h1>Informacion Base</h1>
        </div>
    </div>
    <div class="row row-cols-3 justify-content-start" id="info-base">
        <div class="col" id="nombre">
            <div>
                <h3>
                    Nombre
                </h3>
                <p *ngIf="infoPersonal !== undefined">
                    {{infoPersonal.nombre}}
                </p>
            </div>
        </div>
        <div class="col" id="edad">
            <div>
                <h3>
                    Años
                </h3>
                <p *ngIf="infoPersonal !== undefined">{{infoPersonal.edad}} </p>

            </div>
        </div>
        <div class="col" id="correo">
            <div>
                <h3>
                    Correo
                </h3>
                <p *ngIf="infoPersonal !== undefined">{{infoPersonal.email}} </p>
            </div>
        </div>
        <div class="col" id="fechanac">
            <div>
                <h3>
                    Fecha de nacimiento
                </h3>
                <p *ngIf="infoPersonal !== undefined">{{infoPersonal.fechanacimiento}} </p>
            </div>
        </div>
        <div class="col" id="sexo">
            <div>
                <h3>
                    Sexo
                </h3>
                <p *ngIf="infoPersonal !== undefined">{{infoPersonal.genero}} </p>
            </div>
        </div>

    </div>

    <div class="row titulo-seccion">
        <div class="col">
            <h1>Informacion Medica</h1>
        </div>

    </div>
    <div class="row" id="info-med ">
        
        <div class="col">
            <div>
                <h3>
                    Peso
                </h3>
                <p *ngIf="infoMedica !== undefined">{{infoMedica.peso}} Kg</p>
            </div>
        </div>
        <div class="col">
            <h3>
                Altura
            </h3>
            <p *ngIf="infoMedica !== undefined">{{infoMedica.estatura}} </p>
        </div>
    </div>
    <div class="row titulo-seccion">
        <div class="col">
            <h1>Comorbilidades</h1>
        </div>

    </div>
    <div class="row row-cols-3 justify-content-center" id="comorbilidades">

        <div class="col">
            <div>
                <h3>
                    ¿Presenta alguna enfermadad cardiaca?
                </h3>
                <p>
                    si
                </p>
            </div>

        </div>
        <div class="col">
            <div>
                <h3>
                    ¿Presenta alguna alergia?
                </h3>
                <p>
                    si
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <h3>
                    ¿Presenta alguna enfermedad respiratoria?
                </h3>
                <p>
                    si
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <h3>
                    ¿Presenta alguna enfermedad degenerativa?
                </h3>
                <p>
                    si
                </p>
            </div>
        </div>

        <div class="col">
            <div>
                <h3>
                    ¿Has tenido alguna cirugia?
                </h3>
                <p>
                    si
                </p>
            </div>

        </div>
        <div class="col">
            <div>
                <h3>
                    ¿Has tenido alguna operacion?
                </h3>
                <p>
                    si
                </p>
            </div>
        </div>
    </div>


    <div class="row titulo-seccion">
        <div class="col">
            <h1>Deportes</h1>
        </div>
    </div>   
    <div class="row row-cols-3" id="deportes">



        
        <div class="col" id="futbol">
            <div>
                <h3>
                    ¿Practicas algun deporte?
                </h3>
                <p>
                    si
                </p>
            </div>
        </div>
        <div class="col" id="baloncesto">
            <div>
                <h3>
                    ¿Que deportes practicas?
                </h3>
                <p>
                    si
                </p>
            </div>

        </div>

        <div class="col" id="volleyball">

            <div>
                <h3>
                    ¿Que deportes practicas?
                </h3>
                <p>
                    si
                </p>
            </div>
        </div>

        <div class="col" id="salsa">
            <div>
                <h3>
                    ¿Te gusta bailar salsa?
                </h3>
                <p>
                    si
                </p>
            </div>
        </div>

        <div class="col" id="zumba">
            <div>
                <h3>
                    ¿Te gusta bailar zumba?
                </h3>
                <p>
                    si
                </p>
            </div>
        </div>

        <div class="col" id="folklor">
            <div>
                <h3>
                    ¿Te gusta bailar folklors?
                </h3>
                <p>
                    si
                </p>
            </div>
        </div>

    </div>

</div>