<div class="container-fluid py-5" id="fondo">
    <div class="row text-center">
        <div class="col-3" *ngIf="jugador !== undefined">
            <h2 >{{jugador.nombre}}</h2>
            <button [disabled]="!juegoEmpezado" (click)="punto('jugador')" class="o-button" tyh2e="button">
                Puntos
            </button>
            <h2>Puntos: {{jugadorPrincipal}}</h2>
            <img *ngIf="jugador.genero == 'Hombre'" id="jugador" src="../../../assets/recursos/niño.png" style="width: 170px;" alt="jugador-Hombre">
            <img *ngIf="jugador.genero == 'Mujer'" id="jugador" src="../../../assets/recursos/niña2.png" style="width: 170px;" alt="jugador-Mujer">
        </div>
        <div class="col-6">
            <div class="row justify-content-center align-items-center" id="main">
                <div class="col-1 mx-3 d-flex align-items-center justify-content-center" id="cuadrados" *ngFor="let item of array">
                    <div id="punto" *ngIf="item == 1">
                    </div>
                </div>
            </div>
            <button type="button" class="o-button" (click)="openModal(winner)">Empezamos!</button>
        </div>
        <div class="col-3">
            <div class="row rows-col-3">
                <div class="d-flex justify-content-center ">
                    <button *ngIf="!contrincanteNombre" class="d-flex my-2" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                        Agregar contrincante +
                    </button>
                </div>
            </div>
            
            <h2 *ngIf="contrincanteNombre">
                {{contrincanteNombre}}
            </h2>
            <button type="button" [disabled]="!juegoEmpezado" (click)="punto('contrincante')" class="o-button" tyh2e="button">
                Puntos
            </button>
            <h2>Puntos: {{contrincante}}</h2>
            <img src="../../../assets/recursos/niña2.png" style="width: 200px;" alt="contrincante">
        </div>
    </div>
</div>

 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="display: flex; align-items: center; flex-direction: column;">
      <div class="modal-content" style="
        margin-top: -20px;
        z-index: -1;
        justify-content: center;
        align-items: center;
      ">
        <div class="modal-header" style="border-bottom: none!important;">
          <h2  class="modal-title" id="exampleModalLabel">Elige un contrincante de tu lista de contactos</h2>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center">
              <div id="amigo" class="col-3 mx-2 my-1 text-center" *ngFor="let amigo of amigos">
                  <button (click)="add(amigo)" id="add">{{amigo}} +</button>
              </div>
          </div>
        </div>
        <div class="modal-footer" style="border-top: none!important;">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido</button>
        </div>
      </div>
    </div>
</div>

<ng-template #presentacion let-modal>
    <app-presentation></app-presentation>
</ng-template>   

<ng-template #winner let-modal>
    <app-winner [ganador]="ganador"></app-winner>
</ng-template>   

