<div class="container-fluid">
    
    <div class= "row main-title">
        <div class="col-4" id="volvercont">
            <a (click)="volver()" >
                <i id="volver" class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-4">
            <h1 >Perfil</h1> 
        </div>
        <div class="col-4" id="editar">
            <a [routerLink]="['./editar']" >
                <i class="fa fa-pencil-square" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="row justify-content-center titulo-seccion">
        <div class="col">
            <h2>Informacion Base</h2> 
        </div>
    </div>
    <div class="row justify-content-start" id="info-base">
        <div class="col-6 col-md-4 " id="nombre">
            <div>
                <h3>
                    Nombre
                </h3>
                <p *ngIf="infoPersonal !== undefined">
                    {{infoPersonal.nombre}}
                </p>
            </div>
        </div>
        <div class="col-6 col-md-4 " id="edad">
            <div>
                <h3>
                    Años
                </h3>
                <p *ngIf="infoPersonal !== undefined">{{infoPersonal.edad}} </p>
            </div>
        </div>
        <div class="col-6 col-md-4 " id="correo">
            <div>
                <h3>
                    Correo
                </h3>
                <p *ngIf="infoPersonal !== undefined">{{infoPersonal.email}} </p>
            </div>
        </div>
        <div class="col-6 col-md-4" id="fechanac">
            <div>
                <h3>
                    Fecha de nacimiento
                </h3>
                <p *ngIf="infoPersonal !== undefined">{{ infoPersonal.fechanacimiento | date:'dd-MM-yyyy' }} </p>
            </div>
        </div>
        <div class="col-6 col-md-4" id="sexo">
            <div>
                <h3>
                    Sexo
                </h3>
                <p *ngIf="infoPersonal !== undefined">{{infoPersonal.genero}} </p>
            </div>
        </div>

    </div>

    <div class="row titulo-seccion">
        <div class="col">
            <h2>Informacion Medica</h2>
        </div>

    </div>
    <div class="row" id="info-med ">
        
        <div class="col">
            <div>
                <h3>
                    Peso
                </h3>
                <p *ngIf="infoMedica !== undefined">{{infoMedica.peso}} Kg</p>
            </div>
        </div>
        <div class="col">
            <h3>
                Altura
            </h3>
            <p *ngIf="infoMedica !== undefined">{{infoMedica.estatura}} cm</p>
        </div>
        <div class="col">
            <h3>
                IMC
            </h3>
            <p *ngIf="infoMedica !== undefined">{{ infoMedica.peso / infoMedica.estatura * infoMedica.estatura}}</p>
        </div>
    </div>
    <div class="row titulo-seccion">
        <div class="col">
            <h2>Comorbilidades</h2>
        </div>
    </div>
    <div class="row justify-content-center" id="comorbilidades">

        <div class="col-6 col-md-4">
            <div>
                <h3>
                    ¿Presenta alguna enfermadad cardiaca?
                </h3>
               <div *ngIf="infoMedica !== undefined">
                   <p *ngIf="infoMedica.enfcardiaca !== ''">{{ infoMedica.enfcardiaca}}</p>
                   <p *ngIf="infoMedica.enfcardiaca === ''">No</p>
               </div>
            </div>

        </div>
        <div class="col-6 col-md-4">
            <div>
                <h3>
                    ¿Presenta alguna alergia?
                </h3>
                <div *ngIf="infoMedica !== undefined">
                    <p *ngIf="infoMedica.alergia !== ''">{{ infoMedica.alergia}}</p>
                    <p *ngIf="infoMedica.alergia === ''">No</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div>
                <h3>
                    ¿Presenta alguna enfermedad respiratoria?
                </h3>
                <div *ngIf="infoMedica !== undefined">
                    <p *ngIf="infoMedica.enfrespiratorias !== ''">{{ infoMedica.enfrespiratorias}}</p>
                    <p *ngIf="infoMedica.enfrespiratorias === ''">No</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div>
                <h3>
                    ¿Presenta alguna enfermedad degenerativa?
                </h3>
                <div *ngIf="infoMedica !== undefined">
                    <p *ngIf="infoMedica.enfdegenerativa !== ''">{{ infoMedica.enfdegenerativa}}</p>
                    <p *ngIf="infoMedica.enfdegenerativa === ''">No</p>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div>
                <h3>
                    ¿Has tenido alguna cirugia?
                </h3>
                <div *ngIf="infoMedica !== undefined">
                    <p *ngIf="infoMedica.cirugia !== ''">{{ infoMedica.cirugia}}</p>
                    <p *ngIf="infoMedica.cirugia === ''">No</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div>
                <h3>
                    ¿Has tenido alguna operacion?
                </h3>
                <div *ngIf="infoMedica !== undefined">
                    <p *ngIf="infoMedica.cirugia !== ''">{{ infoMedica.cirugia}}</p>
                    <p *ngIf="infoMedica.cirugia === ''">No</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row titulo-seccion">
        <div class="col">
            <h2>Deportes</h2>
        </div>
    </div>   
    <div class="row" id="deportes">



        
        <div class="col-6 col-md-4" id="futbol">
            <div>
                <h3>
                    ¿Te gusta el futbol?
                </h3>
                <p *ngIf="infoGusto !== undefined">{{infoGusto.futbol}}</p>
            </div>
        </div>
        <div class="col-6 col-md-4" id="baloncesto">
            <div>
                <h3>
                    ¿Te gusta el basketbol?
                </h3>
                <p *ngIf="infoGusto !== undefined">{{infoGusto.basket}}</p>
            </div>

        </div>

        <div class="col-6 col-md-4" id="volleyball">

            <div>
                <h3>
                    ¿Te gusta el Voleyball?
                </h3>
                <p *ngIf="infoGusto !== undefined">{{infoGusto.voley}}</p>
            </div>
        </div>

        <div class="col-6 col-md-4" id="salsa">
            <div>
                <h3>
                    ¿Te gusta bailar salsa?
                </h3>
                <p *ngIf="infoGusto !== undefined">{{infoGusto.salsa}}</p>
            </div>
        </div>

        <div class="col-6 col-md-4" id="zumba">
            <div>
                <h3>
                    ¿Te gusta bailar zumba?
                </h3>
                <p *ngIf="infoGusto !== undefined">{{infoGusto.zumba}}</p>
            </div>
        </div>

        <div class="col-6 col-md-4" id="folklor">
            <div>
                <h3>
                    ¿Te gusta bailar folklors?
                </h3>
                <p *ngIf="infoGusto !== undefined">{{infoGusto.folklor}}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="btn">
        <button [routerLink]="['/']" class="btn btn-lg btn-primary mx-2" fragment="inicio" style="margin-bottom: 40px;">Volver al inicio</button>
        <button (click)="open(content)" class="btn btn-lg btn-danger mx-2" style="margin-bottom: 40px;"> Eliminar Cuenta </button>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header justify-content-center">
        <h4 class="modal-title">ALTO!!!</h4>
    </div>
    <div class="modal-body">
        <p>¿Estas seguro que deseas eliminar tu cuenta?</p>
        <p id="advertencia">Si lo haces perderas todos tus datos!</p>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cancelar</button>
        <button [routerLink]="['/']" type="button" class="btn btn-danger" (click)="modal.close(eliminarcuenta())">Eliminar</button>
    </div>
</ng-template>