$btncolor: #1e90ff;
$btncolorhover: #047df5;
$textcolor: #01255B;
$volver: #1151b1;

.container-fluid {
    background-image: url("../../../../assets/recursos/fondo4.png");
    background-size: contain;
}

h2 {
    font-family: Airbnb Cereal App Medium;
    font-style: normal; 
    font-weight: bold;
    font-size: 37px;
    line-height: 48px;
    color: $textcolor;
    margin-bottom: 30px;
    text-align: center;

}


h3{
    text-align: center;
    font-size:30px ;
    font-weight: bold;
    color: $textcolor;
}

.col{
    font-family: Airbnb Cereal App Medium;
    font-style: normal; 
    font-weight: bold;
    font-size: 25.3333px;
    line-height: 48px;
    color: $textcolor;
    margin-bottom: 30px;
   
}

#volvercont {
    text-align: center;
}

#volver:hover {
    color: $volver;
}

i {
    color: $textcolor;
    font-size: 50px;
}

#volver {
    cursor: pointer;
    width: 100px;

    color: $textcolor;
}

#editar {
    text-align: center;
}


p{
    text-align: center;
    font-family: Airbnb Cereal App Medium;
    font-size: 25px;
    font-weight: normal;
    line-height: 170%;
    color: $textcolor;
}

.main-title{
    padding-top: 4%;
    
}   

.titulo-seccion {
    padding-top: 50px;
}

.main-title h1{
    color: $textcolor;
    font-family: Subway;
    font-size: 60px;
    text-align: center;
}
#deportes{
    padding-bottom: 10%;
}

.o-button {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: $btncolor;
    color: white;
    border-radius: 4px;
    font-size: 25px;
    border-color: $btncolor;
    width: 315px;
    height: 65px;
    left: 135px;
    top: 566px;
    font-family: Airbnb Cereal App Medium, sans-serif;
    margin-left: 2%;
  }
  
  .o-button:hover {
    background-color: $btncolorhover;
  }

  #btn {
      display: flex;
      justify-content: center;
  }

@media (max-width: 800px) {
    .main-title h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
}

.modal-title {
    font-family: Subway;
    font-size: 40px;
    text-align: center;
    color: red;
}

#advertencia {
    font-size: 13px;
}
