<div class="modal-header justify-content-center" style="border-bottom: none!important;">
    <h2  class="modal-title titulo" id="exampleModalLabel">Hora de moverse!</h2>
</div>
<div class="modal-body text-center">
    <p  id="texto" *ngIf="ejercicio !== undefined">  
        Tiempo restante:  <strong>{{timeLeft}}</strong>  Segundos.
    </p>
</div>
<div class="modal-footer justify-content-center">
    <div class="container-fluid text-center">
        <div class="row justify-content-center" *ngIf="respuesta !== undefined">
            <img id="ejercicio" src="../../../../assets/recursos/ejercicios/{{ejercicio}}.gif" alt="">
        </div>
    </div>
</div>
<div class="modal-footer justify-content-center" style="border-top: none!important;">
    <button [disabled]="timeLeft !== 0" (click)='siguientePaso()' id="texto" type="button" class="btn btn-primary">Siguiente paso</button>
</div>

<ng-template #pregunta let-modal>
    <div class="modal-header justify-content-center" style="border-bottom: none!important;">
        <h2  class="modal-title titulo" id="exampleModalLabel">Pregunta</h2>
    </div>
    <div class="modal-body text-center">
        <p  id="texto" *ngIf="pregunta !== undefined">
            <strong *ngIf="jugador !== undefined">
                {{jugador}}:
            </strong>    
            {{preg}}
        </p>
    </div>
    <div class="modal-footer justify-content-center">
        <div class="container-fluid text-center">
            <div class="row " *ngIf="respuesta !== undefined">
                <div  class="col-4"  *ngFor="let item of respuestas">
                    <button [disabled]="incorrecto !== undefined" (click)="respuesta(item)" id="preguntas">{{item}}</button>
                </div>
            </div>
            <p *ngIf="incorrecto === false" style="color: green;"> Has acertado!, ve al siguiente paso.</p>
            <p *ngIf="incorrecto === true" style="color: red;"> Has fallado :(</p>
        </div>
    </div>
    <div class="modal-footer justify-content-center" style="border-top: none!important;">
        <button (click)='cerrar()' id="texto" type="button" class="btn btn-primary">Siguiente paso</button>
    </div>
</ng-template>
