<div class="container-fluid px-5 py-4 text-center" id="fondo">
    
    <form [formGroup]="formulario" (ngSubmit)="modificar()" class="needs-validation" novalidate>
        <div class="py-5 container" id="formulario">
            <h1>Modificar Perfil</h1>
            <div class="row">
                <h2>Informacion Personal</h2>
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input 
                    *ngIf="infoPersonal !== undefined"
                    [(ngModel)]="infoPersonal.nombre"
                    formControlName="nombre"
                    [ngClass]="{ 'is-invalid': formulario.controls['nombre'].invalid && (formulario.controls['nombre'].dirty || formulario.controls['nombre'].touched),
                    'is-valid': formulario.controls['nombre'].valid && (formulario.controls['nombre'].dirty || formulario.controls['nombre'].touched)}"
                    type="text" id="nombre" class="form-control">        
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Correo Electronico</label>
                    <input 
                    *ngIf="infoPersonal !== undefined"
                    [(ngModel)]="infoPersonal.email"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': formulario.controls['email'].invalid && (formulario.controls['email'].dirty || formulario.controls['email'].touched),
                    'is-valid': formulario.controls['email'].valid && (formulario.controls['email'].dirty || formulario.controls['email'].touched)}"
                    type="email" id="email" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="fechanacimiento" class="form-label">Fecha de nacimiento</label>
                    <!-- <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker> -->
                    <input
                    [value]="fecha"
                    [ngClass]="{ 'is-invalid': formulario.controls['fechanacimiento'].invalid && (formulario.controls['fechanacimiento'].dirty || formulario.controls['fechanacimiento'].touched),
                    'is-valid': formulario.controls['fechanacimiento'].valid && (formulario.controls['fechanacimiento'].dirty || formulario.controls['fechanacimiento'].touched)}"
                    formControlName="fechanacimiento" type="date" id="fechanacimiento" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="genero" class="form-label">Genero</label>
                    <select
                    *ngIf="infoPersonal !== undefined"
                    [(ngModel)]="infoPersonal.genero"
                    [ngClass]="{ 'is-invalid': formulario.controls['genero'].invalid && (formulario.controls['genero'].dirty || formulario.controls['genero'].touched),
                    'is-valid': formulario.controls['genero'].valid && (formulario.controls['genero'].dirty || formulario.controls['genero'].touched)}"
                    formControlName="genero" id="genero" class="form-select">
                        <option value="">Selecciona una opcion</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>    
                </div>
            </div>
            <div class="row py-4">
                <h2>Informacion Medica</h2>
                <div class="col-md-6">
                    <label for="estatura" class="form-label">estatura (kg)</label>
                    <input
                    *ngIf="infoMedica !== undefined"
                    [(ngModel)]="infoMedica.estatura"
                    formControlName="estatura" type="number" id="estatura" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="peso" class="form-label">Peso(cm)</label>
                    <select
                    *ngIf="infoMedica !== undefined"
                    [(ngModel)]="infoMedica.peso"
                    formControlName="peso" id="peso" class="form-select">
                        <option value="" selected>Escoge una opcion</option>
                        <option value="50">50 kg</option>
                        <option value="60">60 kg</option>
                        <option value="70">70 kg</option>
                        <option value="80">80 kg</option>
                    </select>
                </div>
                <h2 class="pt-4">Comorbilidades</h2>
                <div class="col-md-4">
                    <label for="enfcardiacas" class="form-label">¿Presenta en enfermedades cardiacas?</label>
                    <br>
                    <div class="form-check-inline">
                        <input
                        *ngIf="infoMedica !== undefined"
                        [checked]="infoMedica.enfcardiaca !== ''"
                        (click)="cambiar(true, 'enfcardiaca')"
                        class="form-check-input" type="radio" name="enfcardiaca" id="si1">
                        <label class="form-check-label" for="si1">
                          Si
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input
                        *ngIf="infoMedica !== undefined"
                        [checked]="infoMedica.enfcardiaca === ''"
                        (click)="cambiar(false, 'enfcardiaca')"
                        class="form-check-input" type="radio" name="enfcardiaca" id="no1">
                        <label class="form-check-label" for="no1">
                          No
                        </label>
                      </div>
                      <input
                      *ngIf="infoMedica !== undefined"
                      [(ngModel)]="infoMedica.enfcardiaca"
                      formControlName="enfcardiaca"
                      [attr.disabled]="(infoMedica.enfcardiaca === '') ?  true : null"
                      type="text" id="enfcardiacas" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="enfrespiratorias" class="form-label">¿Presenta en enfermedades Respiratorias?</label>
                    <br>
                    <div class="form-check-inline">
                        <input
                        *ngIf="infoMedica !== undefined"
                        [checked]="infoMedica.enfrespiratorias !== ''"
                        (click)="cambiar(true, 'enfrespiratorias')"
                        class="form-check-input" type="radio" name="enfrespiratoria" id="si2">
                        <label class="form-check-label" for="si2">
                          Si
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input
                        *ngIf="infoMedica !== undefined"
                        [checked]="infoMedica.enfrespiratorias === ''"
                        (click)="cambiar(false, 'enfrespiratorias')"
                        class="form-check-input" type="radio" name="enfrespiratoria" id="no2">
                        <label class="form-check-label" for="no2">
                          No
                        </label>
                      </div>
                      <input
                      *ngIf="infoMedica !== undefined"
                      [(ngModel)]="infoMedica.enfrespiratorias"
                      [attr.disabled]="(infoMedica.enfrespiratorias === '') ?  true : null"
                      formControlName="enfrespiratorias"
                      type="text" id="enfrespiratorias" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="cirugia" class="form-label">¿Has tenido alguna cirugía?</label>
                    <br>
                    <div class="form-check-inline">
                        <input
                        *ngIf="infoMedica !== undefined"
                        [checked]="infoMedica.cirugia !== ''"
                        (click)="cambiar(true, 'cirugia')"
                        class="form-check-input" type="radio" name="cirugias" id="si3">
                        <label class="form-check-label" for="si3">
                          Si
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input
                        *ngIf="infoMedica !== undefined"
                        [checked]="infoMedica.cirugia === ''"
                        (click)="cambiar(false, 'cirugia')"
                        class="form-check-input" type="radio" name="cirugias" id="no4">
                        <label class="form-check-label" for="no4">
                          No
                        </label>
                      </div>
                      <input
                      *ngIf="infoMedica !== undefined"
                      [(ngModel)]="infoMedica.cirugia"
                      [attr.disabled]="(infoMedica.cirugia === '') ?  true : null"
                      formControlName="cirugia"
                      type="text" id="cirugia" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="alergia" class="form-label">¿Presenta alguna alergia?</label>
                    <br>
                    <div class="form-check-inline">
                        <input 
                        *ngIf="infoMedica !== undefined"
                        [checked]="infoMedica.alergia !== ''"
                        (click)="cambiar(true, 'alergia')"
                        class="form-check-input" type="radio" name="alergia" id="si5">
                        <label class="form-check-label" for="si5">
                          Si
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input 
                        *ngIf="infoMedica !== undefined"
                        [checked]="infoMedica.alergia === ''"
                        (click)="cambiar(false, 'alergia')"
                        class="form-check-input" type="radio" name="alergia" id="no5">
                        <label class="form-check-label" for="no5">
                          No
                        </label>
                      </div>
                      <input
                      *ngIf="infoMedica !== undefined"
                      [(ngModel)]="infoMedica.alergia"
                      [attr.disabled]="(infoMedica.alergia === '') ?  true : null"
                      formControlName="alergia"
                      type="text" id="alergia" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="enfdegenerativa" class="form-label">¿Tienes enfermedades degenerativas?</label>
                    <br>
                    <div class="form-check-inline">
                        <input
                        *ngIf="infoMedica !== undefined"
                        [checked]="infoMedica.enfdegenerativa !== ''"
                        (click)="cambiar(true, 'enfdegenerativa')"
                        class="form-check-input" type="radio" name="enfdegenerativa" id="si6">
                        <label class="form-check-label" for="si6">
                          Si
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input 
                        *ngIf="infoMedica !== undefined"
                        [checked]="infoMedica.enfdegenerativa === ''"
                        (click)="cambiar(false, 'enfdegenerativa')"
                        class="form-check-input" type="radio" name="enfdegenerativa" id="no6">
                        <label class="form-check-label" for="no6">
                          No
                        </label>
                      </div>
                      <input
                      *ngIf="infoMedica !== undefined"
                      [(ngModel)]="infoMedica.enfdegenerativa"
                      [attr.disabled]="(infoMedica.enfdegenerativa === '') ?  true : null"
                      formControlName="enfdegenerativa"
                      type="text" id="enfdegenerativa" class="form-control">
                </div>
            </div>
            <h2>Gustos Personales</h2>
            <div class="row">
                <h3>Deportes</h3>
                <div class="col-md-4">
                    <label for="futbol" class="form-label">¿Te gusta el fútbol?</label>
                    <br>
                    <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.futbol" value="si"
                        formControlName="futbol"
                        class="form-check-input" type="radio" name="futbol" id="si7">
                        <label class="form-check-label" for="si7">
                          Si
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.futbol" value="no"
                        formControlName="futbol"
                        class="form-check-input" type="radio" name="futbol" id="no7">
                        <label class="form-check-label" for="no7">
                          No
                        </label>
                      </div>
                </div>
                <div class="col-md-4">
                    <label for="futbol" class="form-label">¿Te gusta el baloncesto?</label>
                    <br>
                    <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.basket" value="si"
                        formControlName="basket"
                        class="form-check-input" type="radio" name="basket" id="si8">
                        <label class="form-check-label" for="si8">
                          Si
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.basket" value="no"
                        formControlName="basket"
                        class="form-check-input" type="radio" name="basket" id="no8">
                        <label class="form-check-label" for="no8">
                          No
                        </label>
                      </div>
                </div>
                <div class="col-md-4">
                    <label for="futbol" class="form-label">¿Te gusta el Voleibol?</label>
                    <br>
                    <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.voley" value="si"
                        formControlName="voley"
                        class="form-check-input" type="radio" name="voley" id="si9">
                        <label class="form-check-label" for="si9">
                          Si
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.voley" value="no"
                        formControlName="voley"
                        class="form-check-input" type="radio" name="voley" id="no9">
                        <label class="form-check-label" for="no9">
                          No
                        </label>
                      </div>
                </div>
                <h3>Bailes</h3>
                <div class="col-md-4">
                    <label for="futbol" class="form-label">¿Te gusta bailar salsa?</label>
                    <br>
                    <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.salsa" value="si"
                        formControlName="salsa"
                        class="form-check-input" type="radio" name="salsa" id="si10">
                        <label class="form-check-label" for="si10">
                          Si
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.salsa" value="no"
                        formControlName="salsa"
                        class="form-check-input" type="radio" name="salsa" id="no10">
                        <label class="form-check-label" for="no10">
                          No
                        </label>
                      </div>
                </div>
                <div class="col-md-4">
                    <label for="futbol" class="form-label">¿Te gusta bailar zumba?</label>
                    <br>
                    <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.zumba"
                        formControlName="zumba"
                        class="form-check-input" value="si" type="radio" name="zumba" id="si11">
                        <label class="form-check-label" for="si11">
                          Si
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.zumba" 
                        formControlName="zumba"
                        class="form-check-input" value="no" type="radio" name="zumba" id="no11">
                        <label class="form-check-label" for="no11">
                          No
                        </label>
                      </div>
                </div>
                <div class="col-md-4">
                    <label for="futbol" class="form-label">¿Te gusta bailar Folklor?</label>
                    <br>
                    <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.folklor"  
                        formControlName="folklor" 
                        class="form-check-input" type="radio" value="si" name="folklor" id="si12">
                        <label class="form-check-label" for="si12">
                          Si
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input
                        *ngIf="infoGustos !== undefined"
                        [(ngModel)]="infoGustos.folklor" 
                        formControlName="folklor"
                        class="form-check-input" type="radio" value="no" name="folklor" id="no12">
                        <label class="form-check-label" for="no12">
                          No
                        </label>
                      </div>
                </div>
            </div>
            <div class="col-12">
                <button type="reset" routerLink="/profile" id="cancelar" class=" col-5 mx-2 btn btn-lg btn-secondary">Cancelar</button>
                <button type="submit" [disabled]="!formulario.valid" id="enviar" class=" col-5 mx-3 btn btn-lg btn-success">Enviar</button>
            </div>
        </div>
    </form>
</div>

<ng-template #modaaa let-modal>
  <div style="display: flex; align-items: center; flex-direction: column;">
    <img *ngIf="error === undefined" src="../../../assets/recursos/Check.png" style="width: 25%; z-index:1;">
    <img *ngIf="error !== undefined" src="../../../assets/recursos/error.png" style="width: 25%; z-index:1;">

    <div class="modal-header" style="border-bottom: none!important;">
      <h2 *ngIf="error === undefined" class="modal-title" >Cuenta fue modificada con éxito</h2>
      <h2 *ngIf="error !== undefined" class="modal-title">Ha ocurrido un error!</h2>
    </div>
    <div class="modal-body">
        <p *ngIf="error === undefined">Los cambios han sido guardados.</p>
        <p *ngIf="error !== undefined" class="text-danger">{{error.error.message}}</p>
    </div>
    <div class="modal-footer" style="border-top: none!important;">
      <button *ngIf="error === undefined" type="button" routerLink="/login" (click)="cerrar()" class="btn btn-primary">Entendido</button>
      <button *ngIf="error !== undefined" type="button" class="btn btn-primary">Entendido</button>
    </div>
  </div>
</ng-template>
