$fuente: Airbnb Cereal App Medium, sans-serif;
$btncolor: #1e90ff;
$btncolorhover: #047df5;
$border:  #ff957e ;
$titulo:  #ff8800 ;

#fondo {
    background-image: url(../../../assets/recursos/fondo2.png);
    background-size: cover;
    background-repeat: repeat-x;
    min-height: calc(100vh - 59px - 132px);
}

.agregar:hover {
    background-color: $btncolorhover;
}

table {
    border: 5px solid $border;
    border-radius: 50%;
    font-family: $fuente;
}

table th{
    border: 5px solid $border;
    font-size: 25px;
}

table td{
    border: 5px solid $border;
    font-size: 19px;
}

#eliminar {
    background-color: transparent;
    border: none;
    color: red;
}

.agregar {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: $btncolor;
    color: white;
    border-radius: 4px;
    font-size: 25px;
    border-color: $btncolor;
    width: 315px;
    height: 65px;
    left: 135px;
    top: 566px;
    font-family: $fuente;
}

#titulo {
    font-size: 40px;
    font-family: Subway;
    color: $titulo;
}