* {
    font-family: Airbnb Cereal App Medium;
  } 

#color li a {
  font-family: Airbnb Cereal App Medium !important; 
  font-size: 18px;
  color: #01255b;
}

#navbarSupportedContent {
  justify-content: end;
}


#logo img {
  width: 55px;
}
  