<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="nav-link" [routerLink]="['/']" fragment="" id="logo"><img src="../../../assets/recursos/TS.png"></a>
    <div class="justify-content-between">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto" id="color">
            <li>
              <a class="nav-link" [routerLink]="['/']" fragment="nosotros">Nosotros</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/']" fragment="conocenos">Conocenos</a>
            </li>
            <li *ngIf="token">
              <a class="nav-link"   [routerLink]="['/profile']" >{{nombre}}</a>
            </li>
            <li *ngIf="!token">
              <a class="nav-link"  [routerLink]="['/login']" >Iniciar sesión</a>
            </li>
          </ul>
        </div>
    </div> 
  </div>
</nav>