
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$trivalsano-primary: mat.define-palette(mat.$indigo-palette);
$trivalsano-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$trivalsano-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$trivalsano-theme: mat.define-light-theme((
  color: (
    primary: $trivalsano-primary,
    accent: $trivalsano-accent,
    warn: $trivalsano-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($trivalsano-theme);

@font-face {
    font-family: Subway;
    src: url(./assets/recursos/fonts/Subway-Black.ttf);
  }
  @font-face {
    font-family: Made;
    src: url(./assets/recursos/fonts/MADE.otf);
  }
  @font-face {
    font-family: 'Airbnb Cereal App Book';
    font-style: normal;
    font-weight: normal;
    src: url(./assets/recursos/fonts/AirbnbCerealBook.woff) format('woff');
    }

    @font-face {
    font-family: 'Airbnb Cereal App Light';
    font-style: normal;
    font-weight: normal;
    src:  url(./assets/recursos/fonts/AirbnbCerealLight.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Airbnb Cereal App Medium';
    font-style: normal;
    font-weight: normal;
    src:  url(./assets/recursos/fonts/AirbnbCerealMedium.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Airbnb Cereal App Bold';
    font-style: normal;
    font-weight: normal;
    src:  url(./assets/recursos/fonts/AirbnbCerealBold.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Airbnb Cereal App Extra Bold';
    font-style: normal;
    font-weight: normal;
    src:  url(./assets/recursos/fonts/AirbnbCerealExtraBold.woff) format('woff');
    }
    

    @font-face {
    font-family: 'Airbnb Cereal App Black';
    font-style: normal;
    font-weight: normal;
    src: url(./assets/recursos/fonts/AirbnbCerealBlack.woff) format('woff');
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
